<div class="container padded">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <%= simple_form_for (@cocktail) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
